<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Craft Site</title>
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/main.js" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer"></div>
</body>
</html>