section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 20px 50px;

  a {
    color: $link;
    text-decoration: none;

    &:hover {
      color: $link-hover;
    }
  }

  article {
    img {
      max-height: 200px;
    }
  }
}
