<div class="content-blocks">
    {% for block in blocks %}
        {% include "_content-blocks/" ~ block.type %}
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
</div>